# Importing Libraries

In [1]:
import pandas as pd

# Loading Data sets

In [2]:
data1 = pd.read_csv('../data/unicef_indicator_1.csv')
data2 = pd.read_csv('../data/unicef_indicator_2.csv')

# Basic Data Exploration

In [3]:
data1.head()

,country,alpha_2_code,alpha_3_code,numeric_code,indicator,Year,obs_value,sex,unit_of_measure,observation_status,current_age
0,Afghanistan,AF,AFG,4,Mortality rate age 10-14,1990,7.857009,Female,"Deaths per 1,000 children aged 10",Normal value,Total
1,Afghanistan,AF,AFG,4,Mortality rate age 10-14,1991,7.138557,Female,"Deaths per 1,000 children aged 10",Normal value,Total
2,Afghanistan,AF,AFG,4,Mortality rate age 10-14,1992,6.470121,Female,"Deaths per 1,000 children aged 10",Normal value,Total
3,Afghanistan,AF,AFG,4,Mortality rate age 10-14,1993,5.878975,Female,"Deaths per 1,000 children aged 10",Normal value,Total
4,Afghanistan,AF,AFG,4,Mortality rate age 10-14,1994,5.331355,Female,"Deaths per 1,000 children aged 10",Normal value,Total

In [4]:
data2.head()

,country,alpha_2_code,alpha_3_code,numeric_code,indicator,time_period,obs_value,sex,unit_multiplier,unit_of_measure,observation_status,observation_confidentaility,time_period_activity_related_to_when_the_data_are_collected,current_age
0,Afghanistan,AF,AFG,4,Adolescent birth rate (number of live births t...,2002,12.3,Female,Units,Births per 1000 women,Reported,Free,End of fieldwork,10 to 14 years old
1,Afghanistan,AF,AFG,4,Adolescent birth rate (number of live births t...,2003,7.7,Female,Units,Births per 1000 women,Reported,Free,End of fieldwork,10 to 14 years old
2,Afghanistan,AF,AFG,4,Adolescent birth rate (number of live births t...,2005,8.2,Female,Units,Births per 1000 women,Reported,Free,End of fieldwork,10 to 14 years old
3,Afghanistan,AF,AFG,4,Adolescent birth rate (number of live births t...,2006,4.3,Female,Units,Births per 1000 women,Reported,Free,End of fieldwork,10 to 14 years old
4,Afghanistan,AF,AFG,4,Adolescent birth rate (number of live births t...,2008,1.4,Female,Units,Births per 1000 women,Reported,Free,End of fieldwork,10 to 14 years old

In [5]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19701 entries, 0 to 19700
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             19701 non-null  object
 1   alpha_2_code        19602 non-null  object
 2   alpha_3_code        19701 non-null  object
 3   numeric_code        19701 non-null  int64
 4   indicator           19701 non-null  object
 5   Year                19701 non-null  int64
 6   obs_value           19701 non-null  float64
 7   sex                 19701 non-null  object
 8   unit_of_measure     19701 non-null  object
 9   observation_status  19701 non-null  object
 10  current_age         19701 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 1.7+ MB

In [6]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3343 entries, 0 to 3342
Data columns (total 14 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   country                                                      3343 non-null   object
 1   alpha_2_code                                                 3335 non-null   object
 2   alpha_3_code                                                 3343 non-null   object
 3   numeric_code                                                 3343 non-null   int64
 4   indicator                                                    3343 non-null   object
 5   time_period                                                  3343 non-null   int64
 6   obs_value                                                    3343 non-null   float64
 7   sex                                                          3343 non-null   object
 8   unit_multiplier                                              3343 non-null   object
 9   unit_of_measure                                              3343 non-null   object
 10  observation_status                                           3343 non-null   object
 11  observation_confidentaility                                  3343 non-null   object
 12  time_period_activity_related_to_when_the_data_are_collected  3343 non-null   object
 13  current_age                                                  3343 non-null   object
dtypes: float64(1), int64(2), object(11)
memory usage: 365.8+ KB